{% extends 'base.html' %}


{% block title %}Home{% endblock title %}

{% block content %}
<div class="container">
    <h1>Issue Management App</h1>
    <p>Welcome to TaskEase Pro, your comprehensive solution for seamless issue management and resolution. Designed with efficiency and user experience at its core, TaskEase Pro helps teams stay organized, enhance communication, and streamline the process of tracking and solving issues in real-time. From logging incidents to assigning tasks, and monitoring progress, our app empowers you to manage projects effectively, minimize downtime, and optimize workflow. Tailored for businesses of all sizes, TaskEase Pro ensures that your team can address challenges head-on, fostering a culture of productivity and success.</p>
</div>

{% endblock content %}